.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.724000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.007000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.008000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.718000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.775000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.008000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.015000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.724000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.775000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.008000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-2.880000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-18.000000px;}
._6{margin-left:-6.816000px;}
._2{margin-left:-5.328000px;}
._0{margin-left:-3.760000px;}
._1{margin-left:-2.112000px;}
._5{margin-left:-1.008000px;}
._7{width:1.104000px;}
._4{width:2.112000px;}
.fcb{color:rgb(154,149,142);}
.fc8{color:rgb(12,149,165);}
.fc7{color:rgb(7,117,130);}
.fc5{color:rgb(146,210,119);}
.fc9{color:transparent;}
.fc4{color:rgb(84,205,180);}
.fc6{color:rgb(255,255,255);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(87,87,87);}
.fca{color:rgb(244,107,117);}
.fc3{color:rgb(23,188,207);}
.fc0{color:rgb(244,107,117);}
.fs1{font-size:40.000000px;}
.fs7{font-size:43.200000px;}
.fs2{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.fs6{font-size:56.000000px;}
.fs3{font-size:72.000000px;}
.fs4{font-size:96.000000px;}
.fs5{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.y11{bottom:4.538955px;}
.y19{bottom:16.401150px;}
.y6d{bottom:17.676060px;}
.y13{bottom:20.961150px;}
.y16{bottom:22.538955px;}
.y1{bottom:23.183895px;}
.yf{bottom:33.038955px;}
.y20{bottom:38.385600px;}
.y6c{bottom:44.076060px;}
.y6b{bottom:44.167275px;}
.y15{bottom:45.038955px;}
.yb{bottom:49.781715px;}
.ye{bottom:55.538955px;}
.y2{bottom:60.000000px;}
.y18{bottom:64.674300px;}
.y1f{bottom:64.785600px;}
.y10{bottom:66.000000px;}
.ya{bottom:72.281715px;}
.y14{bottom:77.675760px;}
.yd{bottom:78.038955px;}
.y1e{bottom:91.185600px;}
.y9{bottom:94.781700px;}
.y6a{bottom:95.976000px;}
.yc{bottom:110.675700px;}
.y3e{bottom:112.684800px;}
.y69{bottom:122.376000px;}
.y1d{bottom:131.283600px;}
.y3d{bottom:139.084800px;}
.y8{bottom:141.281700px;}
.y68{bottom:148.776000px;}
.y67{bottom:148.867200px;}
.y85{bottom:154.308300px;}
.y84{bottom:154.399500px;}
.y1c{bottom:159.783600px;}
.y7{bottom:163.781700px;}
.y3c{bottom:165.484800px;}
.y21{bottom:179.762550px;}
.y6{bottom:186.281700px;}
.y66{bottom:188.874000px;}
.y3b{bottom:191.884800px;}
.y83{bottom:194.406150px;}
.y1b{bottom:198.087150px;}
.y12{bottom:204.967500px;}
.y3a{bottom:218.284800px;}
.y65{bottom:244.176000px;}
.y39{bottom:244.684800px;}
.y82{bottom:249.708300px;}
.y5{bottom:256.457850px;}
.y47{bottom:262.571100px;}
.y64{bottom:270.576000px;}
.y63{bottom:270.667200px;}
.y38{bottom:271.084800px;}
.y81{bottom:276.108300px;}
.y80{bottom:276.199500px;}
.y37{bottom:297.484800px;}
.y1a{bottom:298.500000px;}
.y46{bottom:300.071100px;}
.y62{bottom:322.476000px;}
.y36{bottom:323.884800px;}
.y7f{bottom:328.008300px;}
.y3f{bottom:328.167600px;}
.y45{bottom:337.571100px;}
.y61{bottom:348.876000px;}
.y35{bottom:350.284800px;}
.y7e{bottom:354.408300px;}
.y7d{bottom:354.499500px;}
.y44{bottom:375.071100px;}
.y60{bottom:375.276000px;}
.y34{bottom:376.684800px;}
.y5f{bottom:401.676000px;}
.y5e{bottom:401.767200px;}
.y33{bottom:403.084800px;}
.y7c{bottom:406.308300px;}
.y43{bottom:412.571100px;}
.y7b{bottom:432.708300px;}
.y7a{bottom:432.799500px;}
.y42{bottom:450.071100px;}
.y5d{bottom:453.576000px;}
.y5c{bottom:453.667200px;}
.y32{bottom:454.984800px;}
.y4{bottom:472.457850px;}
.y79{bottom:472.806150px;}
.y31{bottom:481.384800px;}
.y41{bottom:487.571100px;}
.y5b{bottom:493.674000px;}
.y30{bottom:507.784800px;}
.y40{bottom:525.071100px;}
.y78{bottom:528.108300px;}
.y2f{bottom:534.184800px;}
.y5a{bottom:548.976000px;}
.y77{bottom:554.508300px;}
.y2e{bottom:560.584800px;}
.y59{bottom:575.376000px;}
.y58{bottom:575.467200px;}
.y76{bottom:580.908300px;}
.y2d{bottom:586.984800px;}
.y75{bottom:607.308300px;}
.y74{bottom:607.399500px;}
.y2c{bottom:613.384800px;}
.y57{bottom:627.276000px;}
.y2b{bottom:639.784800px;}
.y56{bottom:653.676000px;}
.y55{bottom:653.767350px;}
.y73{bottom:659.208300px;}
.y2a{bottom:666.184800px;}
.y72{bottom:685.608300px;}
.y3{bottom:688.457850px;}
.y29{bottom:692.584800px;}
.y54{bottom:705.576000px;}
.y71{bottom:712.008300px;}
.y28{bottom:718.984800px;}
.y53{bottom:731.976000px;}
.y70{bottom:738.408300px;}
.y6f{bottom:738.499500px;}
.y52{bottom:758.376000px;}
.y51{bottom:758.467350px;}
.y27{bottom:759.082800px;}
.y6e{bottom:778.506300px;}
.y26{bottom:787.582800px;}
.y50{bottom:810.276000px;}
.y25{bottom:816.082800px;}
.y4f{bottom:836.676000px;}
.y4e{bottom:836.767350px;}
.y24{bottom:844.582800px;}
.y23{bottom:888.082800px;}
.y4d{bottom:888.576000px;}
.y4c{bottom:914.976150px;}
.y4b{bottom:915.067350px;}
.y22{bottom:926.386500px;}
.y4a{bottom:966.876150px;}
.y17{bottom:983.340750px;}
.y49{bottom:1006.974000px;}
.y48{bottom:1045.277700px;}
.h1{height:0.000000px;}
.h4{height:30.840000px;}
.h17{height:33.177600px;}
.h5{height:33.792000px;}
.h2{height:34.464000px;}
.h11{height:36.864000px;}
.h10{height:42.336000px;}
.hd{height:43.176000px;}
.h7{height:51.696000px;}
.h13{height:54.648000px;}
.hf{height:55.512000px;}
.h15{height:55.800000px;}
.h9{height:66.690030px;}
.ha{height:74.016000px;}
.hc{height:111.024000px;}
.hb{height:133.267530px;}
.h8{height:216.000000px;}
.h6{height:228.000000px;}
.he{height:233.133750px;}
.h14{height:662.636100px;}
.h18{height:806.491800px;}
.h3{height:858.242700px;}
.h12{height:948.237450px;}
.h16{height:1068.000000px;}
.h0{height:1188.000000px;}
.w1{width:0.000000px;}
.w4{width:60.805530px;}
.w6{width:193.500000px;}
.w5{width:196.500000px;}
.w2{width:197.477400px;}
.w3{width:204.255000px;}
.w9{width:277.942500px;}
.wa{width:336.207600px;}
.wb{width:409.794300px;}
.wc{width:419.671500px;}
.w8{width:619.267500px;}
.w7{width:782.535000px;}
.w0{width:918.000000px;}
.x0{left:0.000000px;}
.x1f{left:7.171500px;}
.x5{left:8.811000px;}
.x3{left:12.000000px;}
.x7{left:13.590000px;}
.x8{left:18.515250px;}
.x6{left:21.155250px;}
.x1e{left:23.133765px;}
.x16{left:32.077035px;}
.x10{left:33.629250px;}
.x1d{left:35.562555px;}
.xc{left:38.310000px;}
.x14{left:39.538530px;}
.x11{left:45.113250px;}
.x18{left:49.439100px;}
.xd{left:52.305750px;}
.x4{left:59.250000px;}
.x13{left:67.732470px;}
.xb{left:69.022500px;}
.x1c{left:70.721100px;}
.x1a{left:74.001600px;}
.x1b{left:92.294100px;}
.x19{left:93.954600px;}
.x15{left:122.604030px;}
.x9{left:125.597235px;}
.xa{left:263.250000px;}
.xe{left:332.597250px;}
.x1{left:455.652000px;}
.xf{left:471.750000px;}
.x12{left:538.097250px;}
.x17{left:543.353100px;}
.x2{left:681.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-2.560000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-16.000000pt;}
._6{margin-left:-6.058667pt;}
._2{margin-left:-4.736000pt;}
._0{margin-left:-3.342222pt;}
._1{margin-left:-1.877333pt;}
._5{margin-left:-0.896000pt;}
._7{width:0.981333pt;}
._4{width:1.877333pt;}
.fs1{font-size:35.555556pt;}
.fs7{font-size:38.400000pt;}
.fs2{font-size:39.111111pt;}
.fs0{font-size:42.666667pt;}
.fs6{font-size:49.777778pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:85.333333pt;}
.fs5{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.y11{bottom:4.034627pt;}
.y19{bottom:14.578800pt;}
.y6d{bottom:15.712053pt;}
.y13{bottom:18.632133pt;}
.y16{bottom:20.034627pt;}
.y1{bottom:20.607907pt;}
.yf{bottom:29.367960pt;}
.y20{bottom:34.120533pt;}
.y6c{bottom:39.178720pt;}
.y6b{bottom:39.259800pt;}
.y15{bottom:40.034627pt;}
.yb{bottom:44.250413pt;}
.ye{bottom:49.367960pt;}
.y2{bottom:53.333333pt;}
.y18{bottom:57.488267pt;}
.y1f{bottom:57.587200pt;}
.y10{bottom:58.666667pt;}
.ya{bottom:64.250413pt;}
.y14{bottom:69.045120pt;}
.yd{bottom:69.367960pt;}
.y1e{bottom:81.053867pt;}
.y9{bottom:84.250400pt;}
.y6a{bottom:85.312000pt;}
.yc{bottom:98.378400pt;}
.y3e{bottom:100.164267pt;}
.y69{bottom:108.778667pt;}
.y1d{bottom:116.696533pt;}
.y3d{bottom:123.630933pt;}
.y8{bottom:125.583733pt;}
.y68{bottom:132.245333pt;}
.y67{bottom:132.326400pt;}
.y85{bottom:137.162933pt;}
.y84{bottom:137.244000pt;}
.y1c{bottom:142.029867pt;}
.y7{bottom:145.583733pt;}
.y3c{bottom:147.097600pt;}
.y21{bottom:159.788933pt;}
.y6{bottom:165.583733pt;}
.y66{bottom:167.888000pt;}
.y3b{bottom:170.564267pt;}
.y83{bottom:172.805467pt;}
.y1b{bottom:176.077467pt;}
.y12{bottom:182.193333pt;}
.y3a{bottom:194.030933pt;}
.y65{bottom:217.045333pt;}
.y39{bottom:217.497600pt;}
.y82{bottom:221.962933pt;}
.y5{bottom:227.962533pt;}
.y47{bottom:233.396533pt;}
.y64{bottom:240.512000pt;}
.y63{bottom:240.593067pt;}
.y38{bottom:240.964267pt;}
.y81{bottom:245.429600pt;}
.y80{bottom:245.510667pt;}
.y37{bottom:264.430933pt;}
.y1a{bottom:265.333333pt;}
.y46{bottom:266.729867pt;}
.y62{bottom:286.645333pt;}
.y36{bottom:287.897600pt;}
.y7f{bottom:291.562933pt;}
.y3f{bottom:291.704533pt;}
.y45{bottom:300.063200pt;}
.y61{bottom:310.112000pt;}
.y35{bottom:311.364267pt;}
.y7e{bottom:315.029600pt;}
.y7d{bottom:315.110667pt;}
.y44{bottom:333.396533pt;}
.y60{bottom:333.578667pt;}
.y34{bottom:334.830933pt;}
.y5f{bottom:357.045333pt;}
.y5e{bottom:357.126400pt;}
.y33{bottom:358.297600pt;}
.y7c{bottom:361.162933pt;}
.y43{bottom:366.729867pt;}
.y7b{bottom:384.629600pt;}
.y7a{bottom:384.710667pt;}
.y42{bottom:400.063200pt;}
.y5d{bottom:403.178667pt;}
.y5c{bottom:403.259733pt;}
.y32{bottom:404.430933pt;}
.y4{bottom:419.962533pt;}
.y79{bottom:420.272133pt;}
.y31{bottom:427.897600pt;}
.y41{bottom:433.396533pt;}
.y5b{bottom:438.821333pt;}
.y30{bottom:451.364267pt;}
.y40{bottom:466.729867pt;}
.y78{bottom:469.429600pt;}
.y2f{bottom:474.830933pt;}
.y5a{bottom:487.978667pt;}
.y77{bottom:492.896267pt;}
.y2e{bottom:498.297600pt;}
.y59{bottom:511.445333pt;}
.y58{bottom:511.526400pt;}
.y76{bottom:516.362933pt;}
.y2d{bottom:521.764267pt;}
.y75{bottom:539.829600pt;}
.y74{bottom:539.910667pt;}
.y2c{bottom:545.230933pt;}
.y57{bottom:557.578667pt;}
.y2b{bottom:568.697600pt;}
.y56{bottom:581.045333pt;}
.y55{bottom:581.126533pt;}
.y73{bottom:585.962933pt;}
.y2a{bottom:592.164267pt;}
.y72{bottom:609.429600pt;}
.y3{bottom:611.962533pt;}
.y29{bottom:615.630933pt;}
.y54{bottom:627.178667pt;}
.y71{bottom:632.896267pt;}
.y28{bottom:639.097600pt;}
.y53{bottom:650.645333pt;}
.y70{bottom:656.362933pt;}
.y6f{bottom:656.444000pt;}
.y52{bottom:674.112000pt;}
.y51{bottom:674.193200pt;}
.y27{bottom:674.740267pt;}
.y6e{bottom:692.005600pt;}
.y26{bottom:700.073600pt;}
.y50{bottom:720.245333pt;}
.y25{bottom:725.406933pt;}
.y4f{bottom:743.712000pt;}
.y4e{bottom:743.793200pt;}
.y24{bottom:750.740267pt;}
.y23{bottom:789.406933pt;}
.y4d{bottom:789.845333pt;}
.y4c{bottom:813.312133pt;}
.y4b{bottom:813.393200pt;}
.y22{bottom:823.454667pt;}
.y4a{bottom:859.445467pt;}
.y17{bottom:874.080667pt;}
.y49{bottom:895.088000pt;}
.y48{bottom:929.135733pt;}
.h1{height:0.000000pt;}
.h4{height:27.413333pt;}
.h17{height:29.491200pt;}
.h5{height:30.037333pt;}
.h2{height:30.634667pt;}
.h11{height:32.768000pt;}
.h10{height:37.632000pt;}
.hd{height:38.378667pt;}
.h7{height:45.952000pt;}
.h13{height:48.576000pt;}
.hf{height:49.344000pt;}
.h15{height:49.600000pt;}
.h9{height:59.280027pt;}
.ha{height:65.792000pt;}
.hc{height:98.688000pt;}
.hb{height:118.460027pt;}
.h8{height:192.000000pt;}
.h6{height:202.666667pt;}
.he{height:207.230000pt;}
.h14{height:589.009867pt;}
.h18{height:716.881600pt;}
.h3{height:762.882400pt;}
.h12{height:842.877733pt;}
.h16{height:949.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:0.000000pt;}
.w4{width:54.049360pt;}
.w6{width:172.000000pt;}
.w5{width:174.666667pt;}
.w2{width:175.535467pt;}
.w3{width:181.560000pt;}
.w9{width:247.060000pt;}
.wa{width:298.851200pt;}
.wb{width:364.261600pt;}
.wc{width:373.041333pt;}
.w8{width:550.460000pt;}
.w7{width:695.586667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1f{left:6.374667pt;}
.x5{left:7.832000pt;}
.x3{left:10.666667pt;}
.x7{left:12.080000pt;}
.x8{left:16.458000pt;}
.x6{left:18.804667pt;}
.x1e{left:20.563347pt;}
.x16{left:28.512920pt;}
.x10{left:29.892667pt;}
.x1d{left:31.611160pt;}
.xc{left:34.053333pt;}
.x14{left:35.145360pt;}
.x11{left:40.100667pt;}
.x18{left:43.945867pt;}
.xd{left:46.494000pt;}
.x4{left:52.666667pt;}
.x13{left:60.206640pt;}
.xb{left:61.353333pt;}
.x1c{left:62.863200pt;}
.x1a{left:65.779200pt;}
.x1b{left:82.039200pt;}
.x19{left:83.515200pt;}
.x15{left:108.981360pt;}
.x9{left:111.641987pt;}
.xa{left:234.000000pt;}
.xe{left:295.642000pt;}
.x1{left:405.024000pt;}
.xf{left:419.333333pt;}
.x12{left:478.308667pt;}
.x17{left:482.980533pt;}
.x2{left:605.333333pt;}
}
