*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: serif;
  color: black;
  background-color: white;
}

h1 {
  font-family: sans-serif, 'Anton';
}

h2, h3, h4, h5, h6 {
  font-family: sans-serif, 'Raleway', ;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
  border: 10px solid #fff;
  position: relative;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.text {
  grid-column: 2 / 3;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
  column-width: 25rem;
  text-align: justify;
}

.text-with-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
}

.lists {
  list-style-type: none;
  margin-top: 2rem;
}

.lists li {
  margin-bottom: 1.5rem;
}

.list-subtitle {
  color: #00beef;
}

.list-title {
    color:#026773;
}
@media only screen and (max-width: 720px) {
  .image-wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .text-with-images {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 550px) {
 
  .list-title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1.5rem;
  } 
}

